@page "/"

<PageTitle>Home</PageTitle>

<header>
        <BlazorApp1.Client.Layout.NavBar></BlazorApp1.Client.Layout.NavBar>
</header>


<main>
    <h1>Hello, world!</h1>

    Welcome to your new app.


    <div class="textEnglish">
        Fodase
    </div>

    <br />

    <div class="textEnglish">
        <input class="textInput" placeholder="Coloca a resposta Aqui" />
    </div>

    <br />

    <div>
        <button>Submit</button>
        <button>Cancel</button>
    </div>
</main>

